@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html {
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: small;
}

.h1 {
    font-size: 3.5rem;
}

.h2 {
    font-size: 2.5rem;
}

.h3 {
    font-size: 2rem;
}

.noselect {
    -webkit-touch-callout: default; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#landing {
    color: white;
    background: rgb(3,0,46);
}

.button {
    cursor: pointer;
}

#visualization {
    display: none;
}

.bold {
    font-weight: bold;
}