<!
Amanda Zheng and Yaru Luo (AI-YA)
SoftDev1 pd1
K#10 -- Jinja Training
2019-09-24
>


<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Occupations</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="heading">
      <h1>K#10 -- Jinja Tuning</h1>
      <h3>Team Aiya!
	<br>Team Roster: Yaru Luo & Amanda Zheng
      </h3>
      <h4>Returns a randomly selected occupation where the results are weighted by the percentage given.</h4>
    </div>

    <div class="randOcc">
      <br>
      Lucky Occupation: {{ output }}
    </div>

    <div class="tablified">
      <br>
      <br>
      <table id="mytable">
	<tr>
	  <th>Job Class</th>
	  <th>Percentage</th>
	  <th>Link</th>
	</tr>
	{% for item in coll %}
	<tr>
	  <td>{{ item }}</th>
	  <td>{{ coll[item]}}</th>
          <td> <a href={{col[item]}}>{{item}}</a></td>
	</tr>
	{% endfor %}
	<tr>
	  <th>Total</th>
	  <th>99.8</th>
	</tr>
      </table>
    </div>
  </body>
</html>
