<!-- Yaru && EDoss -->
<!-- SoftDev1 pd1 -->
<!-- K11: Ay Mon Go Git It From Yer Flask -->
<!-- 2020-03-10  -->


<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
  </head>

  <body>
    <h1> The Big Bang Theory!! </h1>
    <h4> Enter a season # and episode # to find that episode and its description. </h4>
    <p>
      Season 1 has 17 episodes<br>
      Seasons 2,3 have 23 episodes<br>
      Seasons 4-12 has 24 episodes<br>
    </p>
    <form action='/bigbang' method='GET'>
          Season:<br>
          <input type="text" name="season"><br>
          Episode:<br>
          <input type="text" name="episode">
          <br>
          <input type="submit" value="Submit">
      </form><br>
  </body>

</html>
