<!DOCTYPE HTML>

<html>
  <head>
      <title> {{ ti }} </title>
  </head>
  <body>
    <h1> <p>
          Cookies -- Tiffany Cao & Emory Walsh <br />
          SoftDev1 pd1 <br />
          K10 -- Jinja Tuning <br />
        </p>
        </h1>
    <small>
      <small>
    <h2> This webpage creates a table of the many occupations and their percentages. It obtains a random job from the table with the chances of being chosen based on each job's percentage. Refreshing the page will get a new draw. Each occupation also has a link provided that brings the user to a page with more information on that occupation.
    </h2>
  </small>
  </small>
    <!--Used https://www.w3schools.com/html/html_formatting.asp for reference in HTML text formatting. -->
    <h3> <big> <big> <big> <mark> {{ randJob }} </mark> </big> </big> </big> </h3>
    <!--Used https://www.geeksforgeeks.org/python-using-for-loop-in-flask/ for reference in table structure. -->
    <style type="text/css">
    th:tr{
        color: blue;
    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);
    }
    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
</style>
    <table>
      <tr style="color: blue; "> <!-- changes color of table head text blue -->
        <td> {{ tableTitle1 }} </td>
        <td> {{ tableTitle2 }} </td>
        <td> {{ linkTitle }} </td>
      </tr>
    {% for key, value in collection.items() %}
      <tr>
        <td>{{ key }} </td>
        <td> {{ value }} </td>
            <!--Used https://www.w3schools.com/html/html_links.asp for reference in linking. -->
        <td> <a href= {{linkColl[key]}}> {{ key }} </a> </td>
    {% endfor %}
  </tr>
  <tr style="color: blue; "> <!--changes color of table end text blue -->
    <td> {{ tableEnd1 }} </td>
    <td> {{ tableEnd2 }} </td>
  </tr>
  </table>
  </body>
</html>
